* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('Image from iOS.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;
}
.row {
  margin-top: 35vh;
  h1 {
    font-size: 10vh;
  }
  h3 {
    font-size: 7vh;
  }
  .body {
    font-size: 3vh;
  }
}